.App {
  text-align: left;
  
  background-color: #282c34;
}
.App-main {
  min-height: 100vh;
  font-size: calc(10px + 1vmin);
  color: white;
}
.App-navbar{
  background-color: #6F7D80!important;
  margin-bottom: 30px;
}
.App-navbar > .navbar-brand,.App-navbar > .navbar-brand:hover{
  color: white;
}
.movie-list-item{
  background-color: transparent;
  border-radius:0px!important;
}
.movie-list-item:hover,.movie-list-item.active {
  background-color: #6F7D80;
}
.movie-list-item > .episode-no{
  font-size: .8em;
}
.movie-list-item > .title{
  font-size: 1em;
  padding:0 10px;
}
.movie-list-item > .release-date{
  font-size: .7em;
}